* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	font-family: 'Roboto Mono', monospace;
	background-color: #253b43;
	// height: 700vh;
}

a{
	text-decoration: none;
}

.white-section{
	background-color: white;
}

.section-padding{
	padding: 50px 1em;
}

.heading-section{
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
	color:#253b43;
	padding: 1em 0;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #264653;
	z-index: 100;
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		padding: 0 1em;
	}

	&__logo-item {
		color: #e9c46a;
		text-transform: uppercase;
		font-size: 2.5rem;
		font-weight: bold;
		font-family: 'Dancing Script', cursive;
	}

	&__items {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		background-color: #264653;
		transform: translateX(100%);
		transition: 0.5s;
		z-index: 1;
		&--active {
			transform: translateX(0);
		}
	}
	&__item {
		padding: .5em 0;
		margin-bottom: 0.2em;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.5rem;
		color: #e9c46a;
		&:hover{
			background-color: #2a9d8f;
		}
	}
	.burger-btn {
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1000;
		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}
		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}
		&__bars,
		&__bars::before,
		&__bars::after {
			position: absolute;
			right: 0;
			height: 3px;
			content: '';
			transition: width 0.3s;
			background-color: #e9c46a;
		}
		&__bars {
			width: 100%;
			&::after {
				top: 13px;
				width: 60%;
			}
			&::before {
				top: 27px;
				width: 30%;
			}
		}
	}
}

.header{
	position: relative;
	display: flex;
	height: 90vh;
	background-image: url('../img/apple-g8598d5c53_640.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__box{
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 1em;
		font-family: 'Dancing Script', cursive;
		color: white;
		z-index: 1;
	}
	&__paragraph{
		// color:#f4a261;
		font-size: 4rem;
		
		&--name{
			font-weight: bold;
			margin-bottom: .5em;

		}
	}
	&__heading{
		// color: #e9c46a;
		font-size: 1.8rem;
		font-family: 'Roboto Mono', monospace;
		margin-bottom: 1em;
	}

	&__button{
		align-self: flex-start;
		border: none;
		border-radius: 8px;
		background-color: #E9C46A;
		color:#253b43;
		font-size: 1.8rem;
		font-weight: bold;
		padding: .7em 1em;
	}

	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($color: #264653, $alpha: .8);
	}
}

.offers{
	&__boxes{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__box{
		padding: 1.5em 1em;
		// border: 2px solid #253b43;
		width: 80%;
		box-shadow: 0px 0px 10px #253b43;
		text-align: center;
		margin-bottom: 1.5em;
		color:white;
		background-color: #253b43;

	}
	&__icon{
		font-size: 5rem;
		color: #E76F51;
	}
	&__box-title{
		margin: 1em 0;
		font-size: 2rem;
		text-transform: uppercase;
	}
	&__text{
		font-size: 1.5rem;
		margin-bottom: 1em;
	}
	&__button{
		border:3px solid #E9C46A;
		border-radius: 8px;
		padding: .7em 1.4em;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: bold;
		letter-spacing: 1px;
		color: #E9C46A;
	}
}

.stages{
	&__heading{
		color: white;
	}
	&__box{
		display: flex;
		border: 3px solid #2A9D8F;
		margin-bottom: 1em;
		height: 200px;
	}
	&__even-box{
		order:-1;
	}
	&__box-text{
		width: 60%;
		text-align: center;
		padding: 1em;
		background-color: #2A9D8F;
	}
	&__box-number{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40%;
		font-size: 10rem;
		font-weight: bold;
		font-family: 'Dancing Script', cursive;
		color:white;
		// background-color: white;
	}
&__icon{
	font-size: 5rem;
	color: #e9c46a;
	margin-bottom: .5em;
}
&__box-title{
	color: white;
	text-transform: uppercase;
}

}

.statistics{
	&__counter-box{
		display: flex;
		// flex-direction: column;
		align-items: center;
		// justify-content: center;
		flex-wrap: wrap;
		// height: 250px;
	}
	&__counter-item{
		margin: 1em;
		// width: 200px;
		width: 30%;
		color: #253b43;
		text-align: center;
		flex-grow: 1;
	}
	&__counter{
		margin: 0.3em 0;
		font-size: 5rem;
		// font-family: 'Dancing Script', cursive;
	}
	i{
		font-size: 5rem;}
	p{
		text-transform: uppercase;
		font-weight: bold;
	}

}

.realizations{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	&__heading{
		color: white;

	}
	&__slider{
		
		position: relative;
		height: 200px;
		width: 100%;
		max-width: 600px;
		border-radius: 6px;
		overflow: hidden;
	}
	&__slider-box{
		display: flex;
		// justify-content: space-around;
		transform: translateX(0);
		transition: transform .5s;
		height: 100%;
		// width: 50%;
	}

	&__slider-item{
		display: flex;
		justify-content: center;
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		border-right: 3px solid #253b43;
		// margin:0 5px;
		&:first-child{
			margin:0
		}
	}

	.realizations__item-title{
		padding-top: 1em;
		text-transform: uppercase;
	}


	&__btn{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 0.5em 0.8em;
		color: white;
		background-color: rgba(0, 0, 0, .4);
		font-size: 2rem;
		border: none;
		cursor: pointer;
		&--left{
			left:0;
		}
		&--right{
			right:0;
		}
		& span{
			display: block;
			transition: transform 0.3s;
		}
		&:hover span{
			transform: scale(0.7)
		}
	}

}